<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm password</title>
</head>
<body>
    <h4>Team Andern</h4>
    <p>here is your otp:</p>
    <h1><%= otp %></h1>
    <span>otp expires in 30 minutes</span>
</body>
</html>